/* CLASSES = calculadora, tela, rumo, button */
/* IDs = display, historico */
/* TAGS = input, button, body, footer, p */

.calculadora {
    /* design container calculadora */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 15px;
    width: 180px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color:  #003C43;

}

.calculadora button {
    
}



body {
    font-family: "Roboto", sans-serif;
    background: #627254;
    color: #000;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}