/* Estilos para elementos de marcação HTML */

body {
    background-color: #fff; 
    align-items: center;
    display: flex; /* Define o layout como flexível */
    justify-content: center;
    font-family: "Roboto", sans-serif; 
}

h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* Estilos para classes de elementos */

.container {
    box-sizing: border-box;
    background-color: #2b2628; 
    border: 1px solid #2b2628; 
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75); 
    border-radius: 2px; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /* Move a caixa para o centro da tela */
    width: 280px; 
    height: 430px;
    float: left; /* Alinha a caixa à esquerda */
}

.tela {
    background-color: #fff; 
    justify-content: center; 
    color: black; 
    font-size: medium; 
    height: 3em; 
    width: 205px; 
    cursor: default; /* Define o cursor como padrão */
    padding: 10px 20px; 
    margin-left: 17.5px; 
    margin-bottom: 25px;  
}

.teclas {
    display: grid; /* Define a exibição como grid */
    grid-template-columns: repeat(4, 25%); /* Define o layout das colunas */
    grid-gap: 2px; /* Define o espaçamento entre as células do grid */
    padding: 18px; 
    padding-top: 1px; 
    margin: 0px;
    color: #fff;
    padding-bottom: 4px; 
}

.limpar {
    background-color: #7e7e81; 
    color: #ca1313; 
    width: 18.70em; 
    height: 40px; 
    margin-right: 5em;  
    margin-left: 17px; 
    margin-bottom: 4px;  
}

.limpar:hover {
    background-color: #4b4c50; 
}

.botao {
    height: 60px; 
    padding: 5px; 
    background-color: transparent; 
    border-radius: 0px; 
    border: 2px solid #000000; 
    font-size: 2rem; 
    color: #fff; 
}

.botao:hover {
    background-color: #4b4c50; 
}

.operador {
    color: #a70606; 
    background-color: #7e7e81; 
    font-size: 25px;
    border-radius: 0px; 
}

.operador:hover {
    background-color: #4b4c50; 
}

.simbolo-igual {
    background-color: #bc162a; 
    border: 1px solid #000000; 
    height: 80px; 
    color: #fff; 
}

.simbolo-igual:hover {
    background-color: #4b4c50; 
}

.historico {
    box-sizing: border-box; 
}

/* Estilos para IDs */

#resultado {
    text-align: right; 
}

#historico {
    box-sizing: border-box;
    background-color: #2b2628; 
    border: 1px solid #2b2628; 
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75); 
    border-radius: 2px; /* Define o raio da borda */
    width: 280px;
    height: 430px;
    float: left; 
    margin-left: 20px; 
}
